*.o
*.lo
Makefile
Makefile.in
*.m4
config.h*
config.log
config.status
libtool
configure
ltmain.sh
.deps
.libs
autom4te.cache
src/dhvani
src/libdhvani.la
src/libdhvani.pc
src/soundtouch4c/libsoundtouch4c.la
stamp-h1

